[submodule "coding/orgST/orgST"]
	path = coding/orgST/orgST
	url = ./
[submodule "coding/sfsymbolstesting"]
	path = coding/sfsymbolstesting
	url = ./
[submodule "coding/testingstuff"]
	path = coding/testingstuff
	url = ./
[submodule "coding/Window Switching"]
	path = coding/Window Switching
	url = ./
[submodule "coding/Music Player"]
	path = coding/Music Player
	url = ./
[submodule "coding/idfkwtfthisis"]
	path = coding/idfkwtfthisis
	url = ./
[submodule "coding/fractiongame/src/fractiongame"]
	path = coding/fractiongame/src/fractiongame
	url = ./
[submodule "coding/pycrypt"]
	path = coding/pycrypt
	url = ./
[submodule "coding2/Morning/actions-runner/_work/Morning/Morning"]
	path = coding2/Morning/actions-runner/_work/Morning/Morning
	url = ./
[submodule "coding2/Morning"]
	path = coding2/Morning
	url = ./
[submodule "coding2/orgSt"]
	path = coding2/orgSt
	url = ./
[submodule "coding2/orgST"]
	path = coding2/orgST
	url = ./
[submodule "coding2/reactjs/my-app"]
	path = coding2/reactjs/my-app
	url = ./
[submodule "coding2/aster/aster.pytorch"]
	path = coding2/aster/aster.pytorch
	url = ./
[submodule "coding/Music player"]
	path = coding/Music player
	url = ./
