<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eee</title>
</head>
<body>
    <h2>Certificate Generation</h2>

    <form action="/certgen" method="POST">
        <label for="CN">CN or Domain Name: </label>
        <input type="text" id="CN" name="CN" required>
        <br><br>

        <label for="C">2-Letter Country Code</label>
        <input type="text" id="C" name="C" required>
        <br><br>

        <label for="ST">State/Province Full Name: </label>
        <input type="text" id="ST" name="ST" required>
        <br><br>

        <label for="L">City Name: </label>
        <input type="text" id="L" name="L" required>
        <br><br>

        <label for="O">Organization Name: </label>
        <input type="text" id="O" name="O" required>
        <br><br>

        <label for="OU">Organization Unit: </label>
        <input type="text" id="OU" name="OU" required>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
